# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# ISS

ISS_TLE_URL=http://celestrak.org/NORAD/elements/gp.php?CATNR=25544&FORMAT=TLE
