# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Database
DATABASE_URL=file:./db.sqlite

# ISS
ISS_TRAJECTORY_DATA_URL=https://nasa-public-data.s3.amazonaws.com/iss-coords/current/ISS_OEM/ISS.OEM_J2K_EPH.txt

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000